.container {
    max-width: 75rem !important;
}

section {
    margin-bottom: 5rem;
}

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }